@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #7c3aed;
}

body {
  font-family: "Work Sans", sans-serif;
  text-align: center;
}

header h1 {
  text-align: center;
  margin: 2rem;
  color: #7c3aed;
}

.input-label {
  display: block;
  font-size: larger;
  margin: 2rem 0px;
  font-weight: 600;
}

.input {
  font-size: large;
  display: block;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem auto;
  border: 2px solid #C4B5FD;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 325px;
}

.btn-check {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
}

.output {
  font-size: x-large;
  font-weight: 600;
  margin: 2rem 0;
}

.footer-header {
    background-color: #7c3aed;
    color: black;
    padding: 4rem;
    text-align: center;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }
  
  .footer-header .social-links {  
    margin: 1rem;
  }
  
  .handle-logo {
    width: 2rem;
    margin: 1rem;
  }